<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<h1>Draw a Graph, bitch</h1>

<pre>
  {{random_text}}
</pre>



<button class='btn' id='recognize'>Recognize</button>
<button class='btn' id='clear'>Clear</button>
<br />
<canvas id='surface' width="1500" height="1000" style='border: 1px solid gray'></canvas>

<div id='temp_surface'></div>

<script type='text/javascript'>

$(document).ready(function(){
    drawLib.addBindings();
    $.ajax({
      url: 'ocr'
    }).done(function(data){
      console.log(data);
    });
  });

  $("#recognize").click(function(e){
    e.preventDefault();
    console.log(drawLib.config.clickX);
    console.log(drawLib.config.clickY);
    console.log(drawLib.config.coords);
    console.log(_.min(drawLib.config.clickX));
    console.log(_.max(drawLib.config.clickX));
    console.log(_.min(drawLib.config.clickY));
    console.log(_.max(drawLib.config.clickY));

    var surface = document.getElementById("surface");
    var dataURL = surface.toDataURL();

    $.ajax({
      type: "POST",
      url: "upload",
      data: { 
         imgBase64: dataURL
      }
    }).done(function(o) {
      console.log('saved');
    });
  });

  $("#clear").click(function(e){
    e.preventDefault();

  });

  var drawLib = {
    config: {
      canvas: $("#surface"),
      context: $("#surface")[0].getContext("2d"),
      clickX: [],
      clickY: [],
      clickDrag: [],
      coords: [],  // item: {x: 1, y: 1, drag: true}
      paint: false
    },
    addBindings: function() {
      var that = this;
      
      this.config.canvas.mousedown(function(e){
        var mouseX = e.pageX - this.offsetLeft;
        var mouseY = e.pageY - this.offsetTop;
          
        that.config.paint = true;
        that.addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
        that.redraw();
      });
      
      this.config.canvas.mousemove(function(e){
        if(that.config.paint){
          that.addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
          that.redraw();
        }
      });
      
      this.config.canvas.mouseup(function(e){
        that.config.paint = false;
      });
      
    },
    addClick: function(x, y, dragging)
    {
      this.config.clickX.push(x);
      this.config.clickY.push(y);
      this.config.clickDrag.push(dragging);
      this.config.coords.push({x: x, y: y, drag: dragging})
    },
    redraw: function(){
      //this.config.context.clearRect(0, 0, this.config.context.canvas.width, this.config.context.canvas.height); // Clears the canvas
      
      this.config.context.strokeStyle = "#000";
      this.config.context.lineJoin = "round";
      this.config.context.lineWidth = 5;
          
      for (var i=0; i < this.config.coords.length; i++) {    
        this.config.context.beginPath();
        if (this.config.coords[i].drag && i){
          this.config.context.moveTo(this.config.coords[i-1].x, this.config.coords[i-1].y);
        } else{
          this.config.context.moveTo(this.config.coords[i].x-1, this.config.coords[i].y);
        }
        this.config.context.lineTo(this.config.coords[i].x, this.config.coords[i].y);
        this.config.context.closePath();
        this.config.context.stroke();
      }
    },
    drawAxes: function() {
      var context = this.config.context;
      
      context.lineWidth = 5;
      context.beginPath();
      context.moveTo(125, 125);
      context.lineTo(125, 700);
      context.lineTo(700, 700);
      context.stroke();
    },
    clear: function() {
      this.config.context.clearRect(0, 0, this.config.context.canvas.width, this.config.context.canvas.height); // Clears the canvas
    }
  };
</script>
