<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src='http://code.highcharts.com/stock/highstock.js'></script>
<style type='text/css'>
  body {padding: 15px}
  canvas {clear: both}
  button.btn {font-size: 30px; padding: 21px; margin-right: 60px}
  #container {padding-top: 50px;}
  #container, #chart_container {width: 1550px}
  #notification {position:fixed; top: 0; left: 0; height: 120px; width: 100%; background-color: black; color: white; padding: 20px; font-size: 26px; display:none;}
  #notification_button {margin-left: 25px}
  #notification_button:hover {color: white; background-color: red}
  #notification_button:active {color: white; background-color: blue}
  #notification button.btn {padding: 12px}
  #temp_container{display:none}
</style>

<div id='notification'>
  <div style='padding: 0 50px'>
    <span id='notification_text'></span>

    <button class='btn' id='notification_button'>Nope, That's Wrong</button>
  </div>
</div>

<a href="https://github.com/kpascual/drawagraph"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<h1>Draw a Graph, beeyotch</h1>


<div id='container'>
  <button class='btn' id='recognize'>Recognize</button>
  <button class='btn' id='clear' style='float:right'>Clear</button>
  <br />
  <div id='canvas_container'>
    <canvas id='surface' width="1500" height="700" style='border: 1px solid gray; '></canvas>
  </div>
</div>

<div id='temp_container'></div>
<div id='chart_container'></div>

<script type='text/javascript'>
  $(document).ready(function(){
    var main_canvas = new drawLib($("#surface"));
    main_canvas.init();
    main_canvas.drawFakeGraph();
    recognize.main_canvas = main_canvas;
    

    $("#recognize").click(function(e){
      e.preventDefault();
      recognize.whatAmI(main_canvas.config.coords);
    });
    $("#clear").click(function(e){
      e.preventDefault();
      main_canvas.clearCanvas();
      main_canvas.drawFakeGraph();
      main_canvas.drawSavedPaths();
    });
    $("#notification_button").click(function(e){
      e.preventDefault();
      clearTimeout(timeout);
      notify.hide();
    });

  });

  // FUCKING GLOBAL VARIABLES
  var timeout = {};

  var notify = {
    show: function(){ $("#notification").slideDown(1000);},
    hide: function(){ $("#notification").slideUp(1000);},
    write: function(text, button_text, callback) {
      $("#notification_button").text(button_text); 
      $("#notification_text").text(text); 
      return this.showTemporary(callback);
    },
    showTemporary: function(callback){
      var that = this;
      this.show();
      timeout = setTimeout(function(){that.hide(); callback();}, 5000);
    }
  }
  

  var recognize = {
    main_canvas: {},
    columns: ['dt','users','messages','country','mno'],
    whatAmI: function(coords) {
      $("#temp_container").html('');
      var that = this;

      // Understand text's location
      var bounds = this.locateDrawing(coords);
      var key = this.understandLabel(bounds);

      // Execute OCR to determine actual text
      var padding = 20;
      this.makeTempCanvas(bounds.max_x - bounds.min_x + padding, bounds.max_y - bounds.min_y + padding);
      this.copyPathFromMain(bounds, coords, padding);

      var guess = '';
      var text = '';
      //var ocr = this.translateWithOcr();
      //if (ocr) {
        //guess = ocr.guess;
        //text = ocr.text;
      }
      var text = this.translateWithOcrFake(key);

      // Update all the chart things
      var user_input = {};
      user_input[key] = text;
      chart.update(user_input);

      var success_callback = function() {
        that.main_canvas.savePath();
        that.main_canvas.clearCanvas();
        that.main_canvas.drawFakeGraph();
        that.main_canvas.drawSavedPaths();
        
        chart.shouldDraw();
      };
      notify.write("I think you wrote '" + text + "' for your " + key.replace('_',' ') + ". Did you mean '" + guess + "'?","Nope, that's wrong", success_callback);
    },
    understandLabel: function(bounds){
      // BEWARE THIS SUCKS -- "GLOBAL" VARIABLE HERE
      if (bounds.max_y < this.main_canvas.config.axis_top) {
        return 'chart_title';
      } else if (bounds.min_x < this.main_canvas.config.axis_left) {
        return 'y_axis';
      } else if (bounds.min_y > this.main_canvas.config.axis_bottom) {
        return 'x_axis'; 
      } else if (bounds.min_x > this.main_canvas.config.axis_left && bounds.min_y > this.main_canvas.config.axis_top && bounds.max_y < this.main_canvas.config.axis_bottom) {
        return 'cohort';
      }
    },
    copyPathFromMain: function(bounds, coords, padding) {
      var drawobj = new drawLib($("#temp_surface"));
      drawobj.fillCanvas();
      drawobj.config.coords = _.map(coords, function(d){return {x: d.x - bounds.min_x + padding/2, y: d.y - bounds.min_y + padding/2, drag: d.drag}});
      drawobj.redraw();
    },
    makeTempCanvas: function(width, height) {      
      var c = $("<canvas id='temp_surface'></canvas>");
      c.attr('width', width);
      c.attr('height', height);
      $("#temp_container").append(c);
    },
    locateDrawing: function(coords) {
      var min_x = _.min(_.map(coords, function(d){return d.x}));
      var max_x = _.max(_.map(coords, function(d){return d.x}));
      var min_y = _.min(_.map(coords, function(d){return d.y}));
      var max_y = _.max(_.map(coords, function(d){return d.y}));

      return {min_x: min_x, max_x: max_x, min_y: min_y, max_y: max_y};
    },
    makeImage: function(jqCanvas){
      var data_url = jqCanvas[0].toDataURL();
      var img = $("<img />").attr("src", jqCanvas[0].toDataURL());
      $("#temp_container").append(img);

      return data_url;
    },
    translateWithOcr: function() {
      var data_url = this.makeImage($("#temp_surface"));
      var text = '';
      var that = this;

      $.ajax({
        type: "POST",
        url: "upload",
        data: { 
          imgBase64: data_url
        }
      }).done(function(o) {
        notify.show();
        $("#notification_text").html("You wrote: '" + o.trim() + "'");
        text = o.trim();
      });
      if (text == '') {
        return {text: '', guess: ''};
      } else {
        return {text: text, guess: that.findBestMatch(text)};
      }
    },
    translateWithOcrFake: function(key) {
      switch (key) {
        case 'chart_title': return 'New Users over Time'; break;
        case 'x_axis': return 'dt'; break;
        case 'y_axis': return 'users'; break;
        case 'cohort': return 'country'; break;
        default: 'loser'
      }
    },
    findBestMatch: function(text) {
      var data = [];

      _.each(this.columns,function(value, index){
        data.push({name: value,dist: levDist(value, item)});
      });

      best = _.min(data, function(d){return d.dist});
      return best.name;
    }
  }


  var chart = {
    real_data: [
        {dt: new Date('2013-10-20 00:00:00').valueOf(), users: 5, messages: 7, country: 4, mno: 1},
        {dt: new Date('2013-10-20 01:00:00').valueOf(), users: 8, messages: 7, country: 4, mno: 1},
        {dt: new Date('2013-10-20 02:00:00').valueOf(), users: 5, messages: 7, country: 4, mno: 1},
        {dt: new Date('2013-10-20 03:00:00').valueOf(), users: 2, messages: 7, country: 4, mno: 1},
        {dt: new Date('2013-10-20 04:00:00').valueOf(), users:15, messages: 7, country: 4, mno: 1},
        {dt: new Date('2013-10-20 05:00:00').valueOf(), users: 3, messages: 7, country: 4, mno: 1},
        {dt: new Date('2013-10-20 06:00:00').valueOf(), users:19, messages: 7, country: 4, mno: 1},
    ],
    columns: ['dt','users','messages','country','mno'],
    options: {
      x: '',
      y: '',
      data: {},
      highchart_options: {
        chart: { renderTo: 'chart_container' },
        legend: {enabled: true, align: 'right'},
        title: {text: 'Title of the Chart'},
        scrollbar: {enabled: false},
        navigator: {enabled: false},
        rangeSelector: { selected: 1, inputEnabled: false },
        series: [
          //{ name: 'series 1', data: that.fake_data.time_series1 },
          //{ name: 'series 2', data: that.fake_data.time_series2 },
        ],
      }
    },
    update: function(options) {
      var that = this;

      var mapping = {
        chart_title: function(option) {
          that.options.highchart_options.title.text = option;
        },
        x_axis: function(option) {
          if ($.inArray(option, that.columns) > -1) {
            that.options.x = option;
          }
        },
        y_axis: function(option) {
          if ($.inArray(option, that.columns) > -1) {
            that.options.y = option;
          }
        }
      };

      // Update chart_options with user-specified options
      _.each(options, function(value, index){
        mapping[index](value);
      
      });
    },
    shouldDraw: function() {
      if (this.options.x != '' && this.options.y != '') {
        var x_key = this.options.x;
        var y_key = this.options.y;
        
        this.options.highchart_options.series = [{name: y_key, data: _.map(this.real_data, function(d){return [d[x_key], d[y_key]]})}];
        this.draw();
        notify.write("Here's your chart", "Scroll down", function(){});
      }
    },
    draw: function(){
        new Highcharts.StockChart(this.options.highchart_options);
    }


  }


  var drawLib = function(jqElement) {
    return {
      config: {
        canvas: jqElement,
        context: jqElement[0].getContext("2d"),
        clickX: [],
        clickY: [],
        clickDrag: [],
        coords: [],  // item: {x: 1, y: 1, drag: true}
        saved_paths: [],
        paint: false,
        axis_top: 200,
        axis_left: 300,
        axis_bottom: 500,
        axis_right: 1200
      },
      init: function() {
        var that = this;
        this.fillCanvas();
        
        this.config.canvas.mousedown(function(e){
          var mouseX = e.pageX - this.offsetLeft;
          var mouseY = e.pageY - this.offsetTop;
            
          that.config.paint = true;
          that.addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
          that.redraw();
        });
        
        this.config.canvas.mousemove(function(e){
          if(that.config.paint){
            that.addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
            that.redraw();
          }
        });
        
        this.config.canvas.mouseup(function(e){
          that.config.paint = false;
        });
        
      },
      fillCanvas: function() {
        this.config.context.fillStyle="#ffffff";
        this.config.context.fillRect(0, 0, 1500, 700);
      },
      addClick: function(x, y, dragging)
      {
        this.config.clickX.push(x);
        this.config.clickY.push(y);
        this.config.clickDrag.push(dragging);
        this.config.coords.push({x: x, y: y, drag: dragging})
      },
      redraw: function(){
        
        var stroke_color = "#000";
        stroke_color = "#f00";
            
        this.draw(this.config.coords, stroke_color);
      },
      draw: function(coords, color) {
        this.config.context.lineJoin = "round";
        this.config.context.lineWidth = 5;
        this.config.context.strokeStyle = color;

        for (var i=0; i < coords.length; i++) {    
          this.config.context.beginPath();
          if (coords[i].drag && i){
            this.config.context.moveTo(coords[i-1].x, coords[i-1].y);
          } else{
            this.config.context.moveTo(coords[i].x-1, coords[i].y);
          }
          this.config.context.lineTo(coords[i].x, coords[i].y);
          this.config.context.closePath();
          this.config.context.stroke();
        }

      },
      drawFakeGraph: function() {
        var context = this.config.context;
        
        context.lineWidth = 5;
        context.strokeStyle = '#000';
  
        // Axes
        context.beginPath();
        context.moveTo(this.config.axis_left, this.config.axis_top);
        context.lineTo(this.config.axis_left, this.config.axis_bottom);
        context.lineTo(this.config.axis_right, this.config.axis_bottom);
        context.stroke();

        // Fake line chart
        context.strokeStyle = '#777';
        context.beginPath();
        context.moveTo(this.config.axis_left, this.config.axis_bottom);
        context.lineTo(this.config.axis_right/3, this.config.axis_top + (this.config.axis_bottom - this.config.axis_top)/2);
        context.lineTo(this.config.axis_right/2, this.config.axis_top + (this.config.axis_bottom - this.config.axis_top)/4);
        context.lineTo(this.config.axis_right/1, this.config.axis_top + (this.config.axis_bottom - this.config.axis_top)/8);
        context.stroke();
      },
      clearCanvas: function() {
        this.config.context.clearRect(0, 0, this.config.context.canvas.width, this.config.context.canvas.height); // Clears the canvas
        this.config.coords = [];
      },
      drawSavedPaths: function() {
        var that = this;
        _.each(this.config.saved_paths, function(el, index) {
          that.draw(el, '#000');
        });
      },
      savePath: function() {
        this.config.saved_paths.push(this.config.coords);
        this.config.coords = [];
      }
    };
  }

  var levDist = function(s, t) {
      var d = []; //2d matrix

      // Step 1
      var n = s.length;
      var m = t.length;

      if (n == 0) return m;
      if (m == 0) return n;

      //Create an array of arrays in javascript (a descending loop is quicker)
      for (var i = n; i >= 0; i--) d[i] = [];

      // Step 2
      for (var i = n; i >= 0; i--) d[i][0] = i;
      for (var j = m; j >= 0; j--) d[0][j] = j;

      // Step 3
      for (var i = 1; i <= n; i++) {
          var s_i = s.charAt(i - 1);

          // Step 4
          for (var j = 1; j <= m; j++) {

              //Check the jagged ld total so far
              if (i == j && d[i][j] > 4) return n;

              var t_j = t.charAt(j - 1);
              var cost = (s_i == t_j) ? 0 : 1; // Step 5

              //Calculate the minimum
              var mi = d[i - 1][j] + 1;
              var b = d[i][j - 1] + 1;
              var c = d[i - 1][j - 1] + cost;

              if (b < mi) mi = b;
              if (c < mi) mi = c;

              d[i][j] = mi; // Step 6

              //Damerau transposition
              if (i > 1 && j > 1 && s_i == t.charAt(j - 2) && s.charAt(i - 2) == t_j) {
                  d[i][j] = Math.min(d[i][j], d[i - 2][j - 2] + cost);
              }
          }
      }

      // Step 7
      return d[n][m];
  }

</script>
